/.directory
/.classpath
/.settings/org.eclipse.wst.common.component
/.settings/org.eclipse.wst.ws.service.policy.prefs
/.settings/org.hibernate.eclipse.console.prefs
/config/Format.xml
/config/Openbravo.properties
/config/log4j.lcf
/config/setup-properties-linux-x64.bin
/config/userconfig.xml
/WebContent
/build
/config/checksums
/lib/runtime
/modules/id.co.bippo.*
/src-core/bin
/src-core/build
/src-core/lib
/src-db/bin
/src-db/build
/src-db/database/lib
/src-db/database/formalChangesScript.xml
/src-gen
/src-trl/bin
/src-trl/build
/src-trl/lib
/src-wad/bin
/src-wad/build
/src-wad/lib
/srcAD
/src-util/diagnostic/build/classes
/referencedata/client_data.xml
/referencedata/importclient/*.xml
/bin
