<?xml version="1.0" encoding="UTF-8"?>
<classpath>
	<classpathentry exported="true" kind="con" path="org.eclipse.jst.server.core.container/org.eclipse.jst.server.tomcat.runtimeTarget/Apache Tomcat v6.0"/>
	<classpathentry exported="true" kind="con" path="org.eclipse.jst.j2ee.internal.web.container"/>
	<classpathentry combineaccessrules="false" exported="true" kind="src" path="/OpenbravoTrl"/>
	<classpathentry combineaccessrules="false" exported="true" kind="src" path="/OpenbravoWAD"/>
	<classpathentry including="**/*.ext|**/*.java|**/*.oaw|**/*.properties|**/*.xml|**/*.xpt|**/*.xslt" kind="src" path="src"/>
	<classpathentry kind="src" path="modules/org.openbravo.client.widgets/src"/>
	<classpathentry kind="src" path="modules/org.openbravo.client.htmlwidget/src"/>
	<classpathentry kind="src" path="modules/org.openbravo.base.weld/src"/>
	<classpathentry kind="src" path="modules/org.openbravo.client.querylist/src"/>
	<classpathentry kind="src" path="modules/org.openbravo.advpaymentmngt/src"/>
	<classpathentry kind="src" path="modules/org.openbravo.financial.paymentreport/src"/>
	<classpathentry kind="src" path="modules/org.openbravo.reports.ordersawaitingdelivery/src"/>
	<classpathentry kind="src" path="modules/org.openbravo.client.myob/src"/>
	<classpathentry kind="src" path="modules/org.openbravo.client.kernel/src"/>
	<classpathentry kind="src" path="modules/org.openbravo.service.json/src"/>
	<classpathentry kind="src" path="modules/org.openbravo.client.application/src"/>
	<classpathentry kind="src" path="modules/org.openbravo.userinterface.selector/src"/>
	<classpathentry kind="src" path="modules/org.openbravo.userinterface.smartclient/src"/>
	<classpathentry kind="src" path="modules/org.openbravo.service.datasource/src"/>
	<classpathentry kind="src" path="modules/org.openbravo.service.integration.openid/src"/>
	<classpathentry kind="src" path="modules/org.openbravo.service.integration.google/src"/>
	<classpathentry kind="src" path="src-test"/>
	<classpathentry including="quartz.properties" kind="src" path="config"/>
	<classpathentry kind="src" path="src-gen"/>
	<classpathentry including="**/*.java" kind="src" path="srcAD"/>
	<classpathentry including="**/*.java" kind="src" path="build/javasqlc/srcAD"/>
	<classpathentry including="**/*.java" kind="src" path="build/javasqlc/src"/>
	<classpathentry exported="true" kind="con" path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
	<classpathentry exported="true" kind="lib" path="lib/build/junit.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/build/js.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/build/servlet-api.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/mail-1.4.4.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/ant-1.7.1.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/ant-apache-log4j.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/ant-launcher.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/ant-nodeps.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/antlr-2.7.7.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/avalon-framework-4.1.5.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/axis-ant.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/axis.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/barcode4j-fop-ext-0.20.5-complete.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/batik-anim.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/batik-awt-util.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/batik-bridge.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/batik-css.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/batik-dom.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/batik-ext.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/batik-gvt.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/batik-parser.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/batik-script.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/batik-svg-dom.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/batik-svggen.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/batik-util.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/batik-xml.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/catalina-ant.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/commons-beanutils-1.8.3.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/commons-codec-1.5.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/commons-collections-3.2.1.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/commons-dbcp-1.4.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/commons-digester-1.8.1.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/commons-discovery-0.2.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/commons-fileupload-1.2.2.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/commons-io-2.0.1.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/commons-lang-2.6.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/commons-logging-1.1.1.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/commons-pool-1.5.6.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/dom4j-1.6.1.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/fop.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/freemarker-2.3.16.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/hibernate-jpa-2.0-api-1.0.0.Final.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/hibernate3.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/iText-2.1.7.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/jasperreports-4.0.1.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/jasperreports-fonts-4.0.1.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/javassist-3.14.0-GA.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/jaxrpc.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/jcommon-1.0.15.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/jdt-compiler-3.1.1.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/jettison-1.3.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/jfreechart-1.0.12.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/jta.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/jxl-2.6.10.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/log4j-1.2.16.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/nekohtml.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/ojdbc6.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/openbravo-core.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/postgresql-9.0-801.jdbc4.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/quartz-1.6.2.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/renderFoRmi.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/slf4j-api-1.6.1.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/slf4j-log4j12-1.6.1.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/tika-core-0.9.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/wsdl4j-1.5.1.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/xercesImpl.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/runtime/xstream-1.3.1.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/build/commons-math-1.2.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/build/google-collections.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/build/ob-rhino-1.6R7.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/build/smartsprites-0.2.1-alpha.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/build/YUIAnt.jar"/>
	<classpathentry exported="true" kind="lib" path="lib/build/yuicompressor-2.4.2.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.base.weld/lib/runtime/cal10n-api-0.7.4.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.base.weld/lib/runtime/cdi-api.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.base.weld/lib/runtime/ejb-api-3.0.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.base.weld/lib/runtime/google-collect-1.0.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.base.weld/lib/runtime/javax.inject.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.base.weld/lib/runtime/jboss-interceptor-api-3.1.0-CR3.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.base.weld/lib/runtime/jboss-interceptor-core-2.0.0.CR1.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.base.weld/lib/runtime/jboss-interceptor-spi-2.0.0.CR1.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.base.weld/lib/runtime/slf4j-ext-1.6.1.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.base.weld/lib/runtime/weld-api.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.base.weld/lib/runtime/weld-core.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.base.weld/lib/runtime/weld-servlet-core.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.base.weld/lib/runtime/weld-spi.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.service.integration.openid/lib/runtime/guice-2.0.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.service.integration.openid/lib/runtime/httpclient-4.0.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.service.integration.openid/lib/runtime/httpcore-4.0.1.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.service.integration.openid/lib/runtime/httpmime-4.1.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.service.integration.openid/lib/runtime/openid4java-0.9.6.jar"/>
	<classpathentry combineaccessrules="false" exported="true" kind="src" path="/OpenbravoDB"/>
	<classpathentry exported="true" kind="lib" path="src-db/database/lib/commons-betwixt-0.8.jar"/>
	<classpathentry exported="true" kind="lib" path="src-db/database/lib/dbmanager.jar"/>
	<classpathentry exported="true" kind="lib" path="src-db/database/lib/dbsourcemanager.jar"/>
	<classpathentry exported="true" kind="lib" path="src-db/database/lib/jakarta-oro-2.0.8.jar"/>
	<classpathentry exported="true" kind="lib" path="src-db/database/lib/wstx-asl-3.0.2.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.client.kernel/lib/runtime/jslint4java-1.4.7.jar"/>
	<classpathentry exported="true" kind="lib" path="modules/org.openbravo.client.kernel/lib/runtime/jsmin.0.2.4.jar"/>
	<classpathentry kind="output" path="build/classes"/>
</classpath>
