<?xml version="1.0" encoding="UTF-8" ?>
  <!--
    ************************************************************************* 
    * The contents of this file are subject to the Openbravo Public License 
    * Version 1.1 (the "License"), being the Mozilla Public License 
    * Version 1.1 with a permitted attribution clause; you may not use this 
    * file except in compliance with the License. You may obtain a copy of 
    * the License at http://www.openbravo.com/legal/license.html 
    * Software distributed under the License is distributed on an "AS IS" 
    * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the 
    * License for the specific language governing rights and limitations 
    * under the License. 
    * The Original Code is Openbravo ERP. 
    * The Initial Developer of the Original Code is Openbravo SLU
    * All portions are Copyright (C) 2001-2011 Openbravo SLU 
    * All Rights Reserved. 
    * Contributor(s):    ______________________________________.
    ************************************************************************
  -->

<web-app id="webapp">
  <FIELDS_TMP id="sectionListener">
    <listener>
      <display-name>
        <FIELD_TMP id="fieldListenerDisplayName">codigo</FIELD_TMP>
      </display-name>
      <listener-class>
        <FIELD_TMP id="fieldListenerClassName">codigo</FIELD_TMP>
      </listener-class>
    </listener>
  </FIELDS_TMP>

  <FIELDS_TMP id="sectionFilter">
    <filter>
      <filter-name>
        <FIELD_TMP id="fieldFilterName">codigo</FIELD_TMP>
      </filter-name>
      <filter-class>
        <FIELD_TMP id="fieldFilterClassName">codigo</FIELD_TMP>
      </filter-class>
      <PARAMETER_TMP id="reportFilterParams"></PARAMETER_TMP>
    </filter>
  </FIELDS_TMP>


  <FIELDS_TMP id="sectionResource">
    <resource-ref>
      <res-ref-name id="fieldResName"></res-ref-name>
      <res-type id="fieldResType">javax.sql.DataSource</res-type>
      <res-auth id="fieldResAuth">Container</res-auth>
    </resource-ref>
  </FIELDS_TMP>

  <FIELDS_TMP id="sectionContextParams">
  <context-param>
    <param-name><FIELD_TMP id="paramName">codigo</FIELD_TMP></param-name>
    <param-value><FIELD_TMP id="paramValue">codigo</FIELD_TMP></param-value>
  </context-param>
  </FIELDS_TMP>
  
  <FIELDS_TMP id="sectionDetailServletTab">
    <servlet>
      <display-name>
        <FIELD_TMP id="fieldTabDisplayName">codigo</FIELD_TMP>
      </display-name>
      <servlet-name>
        <FIELD_TMP id="fieldTabName">codigo</FIELD_TMP>
      </servlet-name>
      <servlet-class>
        <FIELD_TMP id="fieldTabClassName">codigo</FIELD_TMP>
      </servlet-class>
    </servlet>
  </FIELDS_TMP>

  <FIELDS_TMP id="sectionDetail1">
    <servlet>
      <display-name>
        <FIELD_TMP id="fieldDisplayName">codigo</FIELD_TMP>
      </display-name>
      <servlet-name>
        <FIELD_TMP id="fieldName">codigo</FIELD_TMP>
      </servlet-name>
      <servlet-class>
        <FIELD_TMP id="fieldClassName">codigo</FIELD_TMP>
      </servlet-class>
      <PARAMETER_TMP id="reportServletParams"></PARAMETER_TMP>
      <FIELD_TMP id="fieldLoadOnStartUp"></FIELD_TMP>
    </servlet>
  </FIELDS_TMP>


  <!-- MAPPING -->
  <FIELDS_TMP id="sectionFilterMapping">
    <filter-mapping>
      <filter-name>
        <FIELD_TMP id="fieldFilterMName">codigo</FIELD_TMP>
      </filter-name>
      <url-pattern><FIELD_TMP id="fieldFilterMClassName">codigo</FIELD_TMP></url-pattern>
    </filter-mapping>
  </FIELDS_TMP>
  
  <FIELDS_TMP id="sectionDetailMappingTab">
    <servlet-mapping>
      <servlet-name>
        <FIELD_TMP id="fieldServletName">codigo</FIELD_TMP>
      </servlet-name>
      <url-pattern><FIELD_TMP id="fieldTabMappingName">codigo</FIELD_TMP></url-pattern>
    </servlet-mapping>
  </FIELDS_TMP>

  <FIELDS_TMP id="sectionDetail2">
    <servlet-mapping>
      <servlet-name>
        <FIELD_TMP id="fieldName2">codigo</FIELD_TMP>
      </servlet-name>
      <url-pattern><FIELD_TMP id="fieldClassName2">codigo</FIELD_TMP></url-pattern>
    </servlet-mapping>
  </FIELDS_TMP>

  <mime-mapping>
    <extension>wsdl</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xsd</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>

  <welcome-file-list id="WelcomeFileList">
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jws</welcome-file>
  </welcome-file-list>
  
  <session-config>
    <session-timeout id="fieldSessionTimeOut">60</session-timeout>
  </session-config>
  
  <resource-ref>
    <description>Oracle Datasource example</description>
    <res-ref-name>jdbc/openbravo</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>
