<span style='float:${htmlfloat};'>
  <table style="border:0px;border-collapse:collapse;">
    <tr>
      <td style="padding-top: 0px;">
        <input class="${class}" dojoAttachPoint='textbox,focusNode' dojoAttachEvent='onfocus:_onFocus,onkeyup:_onKeyUp,onblur:_onBlur' autocomplete="off" type='${type}' name='${name}' id="${id}" />
      </td>
    </tr>
  </table>
  <span dojoAttachPoint='invalidSpan'>
    <span class="TextBox_MsgContainer_span">
      <table class="TextBox_MsgContainer_table">
        <tr class="TextBox_MsgContainer_tr">
          <td class="TextBox_MsgContainer_td"><div class="TextBox_MsgContainer_div" /></td><td></td>
        </tr>
        <tr>
          <td colspan="2" class='${invalidClass}'><div class="TextBox_MsgContainer_div2">${invalidMessage}</div></td>
        </tr>
      </table>
    </span>
  </span>
  <span dojoAttachPoint='missingSpan'>
    <span class="TextBox_MsgContainer_span">
      <table class="TextBox_MsgContainer_table">
        <tr class="TextBox_MsgContainer_tr">
          <td class="TextBox_MsgContainer_td"><div class="TextBox_MsgContainer_div" /></td><td></td>
        </tr>
        <tr>
          <td colspan="2" class='${missingClass}'><div class="TextBox_MsgContainer_div2">${missingMessage}</div></td>
        </tr>
      </table>
    </span>
  </span>
  <span dojoAttachPoint='rangeSpan'>
    <span class="TextBox_MsgContainer_span">
      <table class="TextBox_MsgContainer_table">
        <tr class="TextBox_MsgContainer_tr">
          <td class="TextBox_MsgContainer_td"><div class="TextBox_MsgContainer_div" /></td><td></td>
        </tr>
        <tr>
          <td colspan="2" class='${rangeClass}'><div class="TextBox_MsgContainer_div2">${rangeMessage}</div></td>
        </tr>
      </table>
    </span>
  </span>
</span>
