/*============================================================
	"Enterprise" theme CSS styles
	Copyright 2001 and beyond, Isomorphic Software

	:: Contents ::
	
	1) General
			default text
            default border
			drop indicator
            hover canvas
	2) Buttons
			Button
			ImgButton
			StretchImgButton
	3) Menu
			MenuButton
	4) Window
			Dialog
    5) Layout
			drop line
			drag placeholder
			splitbar (resizebar)
	6) TabSet
			tab titles
	7) SectionStack
			image SectionHeaders
			CSS SectionHeaders
	8) Forms
			general
			headerItem
			text items
			selectItem
			checkbox & radioButton
			ColorChooser
			DateChooser
	9) Slider & Rangebar		
	10) DetailViewer
	11) ListGrid
			parts
			headers
			cells
    12) ToolStrip
    13) Tools
    14) TileGrid
	------------
	internal/unused styles
============================================================*/

/*

*/



/*============================================================
	1) General
============================================================*/

.pageBackground {
    font-family:Verdana,sans-serif; font-size:11px;
    color:#333333;
    background:#FAFAFA;
}

/* default text */
.normal {
    font-family:Verdana,sans-serif; font-size:11px;
    color:#333333;
}

.defaultBorder {
    border:1px solid #A7ABB4;
}

/* drag outline */
.dragOutline {
    border:1px dashed #0B70F9;
}

/* drop indicator */
.dropBorder {
    background-color:#808080;
}


/* hover canvas  */
.canvasHover,
.gridHover,
.formHover {
    font-family:Verdana,sans-serif; font-size:11px; color:black;
    background-color:#FFFFD0; border:1px solid #808080; padding:5px;
}
/*============================================================
    2) Button
		button.baseStyle
		buttonStrip.baseStyle
		buttonTable.baseButtonStyle
		listBar.labelStyle
		listGrid.headerBaseStyle (not in this skin)
============================================================*/
.button,
.buttonOver,
.buttonFocused,
.buttonFocusedOver,
.buttonDown,
.buttonFocusedDown,
.buttonSelected,
.buttonSelectedFocused,
.buttonSelectedDown,
.buttonSelectedFocusedDown,
.buttonSelectedOver,
.buttonSelectedFocusedOver,
.buttonDisabled,
.buttonSelectedDisabled {
    font-weight: bold;
    font-family: tahoma, arial, helvetica, sans-serif;
    font-size: 8pt;
    background: #90E25A url(./images/cssButton/button_stretch.png) repeat-x;
    background-position: top left;
    color:#1B4106;
    border:1px solid #409B0D;
}
.buttonDisabled,
.buttonSelectedDisabled {
    background: #C2EEA6 url(./images/cssButton/button_Disabled_stretch.png) repeat-x;
    background-position: top left;
    color: #1B4106;
    border: 1px solid #90C571;
}

.buttonFocused,
.buttonFocusedOver,
.buttonSelectedFocused,
.buttonSelectedFocusedOver,
.buttonSelectedFocusedDown {
    background: #CCEBFB url(./images/cssButton/button_Focused_stretch.png) repeat-x;
    background-position: top left;
    color: #213E51;
    border: 2px solid #4D98CA;
}

.buttonOver,
.buttonFocusedOver,
.buttonSelectedFocused,
.buttonSelectedFocusedOver {
    background: #86B6D5 url(./images/cssButton/button_Over_stretch.png) repeat-x;
    background-position: top left;
    color: #1B4106;
    border: 2px solid #86B6D5;
}

.buttonDown,
.buttonFocusedDown,
.buttonSelectedDown,
.buttonSelectedFocusedDown {
    background: #95CEE7 url(./images/cssButton/button_Down_stretch.png) repeat-x;
    background-position: top left;
    color: #EAF7E4;
    border: 2px solid #1F6DA0;
}

.buttonSelected,
.buttonSelectedFocused,
.buttonSelectedOver,
.buttonSelectedFocusedOver,
.buttonSelectedDisabled {
    background: #B4D8FF url(./images/cssButton/button_Selected_stretch.png) repeat-x;
    background-position: top left;
    color: #1B4106;
    border: 1px solid #A6ABB4;
}

/* ImgButton */
.imgButton,
.imgButtonOver,
.imgButtonSelected,
.imgButtonSelectedDisabled,
.imgButtonSelectedOver,
.imgButtonDown,
.imgButtonSelectedDown,
.imgButtonDisabled {
    font-family:Verdana,sans-serif; font-size:10px;
}
.imgButtonDisabled {
    color:#666666;
}

/* StretchImgButton */
.stretchImgButton,
.stretchImgButtonSelected,
.stretchImgButtonSelectedOver,
.stretchImgButtonOver,
.stretchImgButtonDown,
.stretchImgButtonSelectedDown,
.stretchImgButtonSelectedDisabled,
.stretchImgButtonDisabled {
    font-family:Verdana,sans-serif; font-size:10px;
}
.stretchImgButtonOver {
    font-weight:bold;
	color:#4C4C4C;
}
.stretchImgButtonSelectedDisabled,
.stretchImgButtonDisabled {
	font-weight:normal;
	color:#AAAAAA;
}

/* Button Title */
.buttonTitle,
.buttonTitleOver,
.buttonTitleDown,
.buttonTitleSelected,
.buttonTitleFocused,
.buttonTitleSelectedFocused,
.buttonTitleSelectedOver,
.buttonTitleFocusedOver,
.buttonTitleSelectedFocusedOver,
.buttonTitleSelectedDown,
.buttonTitleFocusedDown,
.buttonTitleSelectedFocusedDown,
.buttonTitleDisabled,
.buttonTitleSelectedDisabled {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 8pt;
  font-weight:bold;
  color: #1B4106;
}
.buttonTitleOver {
  color: #1B4106;
}
.buttonTitleDown,
.buttonTitleFocusedDown {
  color: #EAF7E4;
}
.buttonTitleFocused,
.buttonTitleFocusedOver {
  color: #213E51;
}
.buttonTitleDisabled,
.buttonTitleSelectedDisabled {
  color: #1B4106;
}


/*============================================================
    3) Menus 
============================================================ 
  */

.menuMain {
    border: 1px solid #93A9C0;
    background:#FFFFFF url(./images/Menu/menu_background.png) repeat-y scroll;
}
.treeMenuBody {
    border: 1px solid #93A9C0;
	background: #FFFFFF;
}
.menu,
.menuSelected,
.menuOver,
.menuSelectedOver,
.menuDisabled,
.menuTitleField,
.menuTitleFieldSelected,
.menuTitleFieldOver,
.menuTitleFieldSelectedOver,
.menuTitleFieldDisabled,
.menuIconField,
.menuIconFieldOver,
.menuIconFieldSelected,
.menuIconFieldSelectedOver,
.menuIconFieldDisabled,
.treeMenuSelected,
.treeMenuSelectedOver,
.treeMenuSelectedSelected,
.treeMenuSelectedSelectedOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:#333333;
    padding-top:2px; padding-bottom:2px;
}
.menu,
.menuSelected {
}
.menuOver,
.menuSelectedOver,
.menuTitleFieldOver,
.menuTitleFieldSelectedOver,
.menuIconFieldOver,
.menuIconFieldSelectedOver,
.treeMenuSelected,
.treeMenuSelectedOver,
.treeMenuSelectedSelected,
.treeMenuSelectedSelectedOver {
    background:#FFFFFF url(./images/Menu/menu_rollover.png) repeat-x scroll 0px 1px;
}

.menuTitleField,
.menuTitleFieldSelected,
.menuTitleFieldOver,
.menuTitleFieldSelectedOver,
.menuTitleFieldDisabled {
	padding-left:4px;
}

.menuIconField,
.menuIconFieldOver,
.menuIconFieldSelected,
.menuIconFieldSelectedOver,
.menuIconFieldDisabled {
	padding-left:4px; padding-right:4px;
}
.menuDisabled ,
.menuTitleFieldDisabled,
.menuIconFieldDisabled {
    color:#AAAAAA;
}


/*============================================================
    4) Window
		window.styleName - windowBackground
		window.bodyStyle - windowBody
		window.headerStyle - windowHeader
		window.hiliteHeaderStyle - windowHeaderHilite
		window.headerLabelDefaults.styleName - windowHeaderText
		window.statusBarDefaults.styleName - windowStatusBar

	Dialog
		dialog.styleName - dialogBackground
		dialog.bodyStyle - dialogBody
		dialog.headerStyle - dialogHeader
		dialog.hiliteHeaderStyle - dialogHeaderHilite
		dialog.headerLabelDefaults.styleName - dialogHeaderText
============================================================*/

.windowBackground,
.dialogBackground {}

.windowBody,
.dialogBody {
    background-color:#FFFFFF;
}
.promptBody {
}

.windowHeader,
.dialogHeader {
}

.windowHeaderHilite,
.dialogHeaderHilite {
}

.windowHeaderText,
.dialogHeaderText {
    font-family: tahoma, arial, helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: #EDEDED;
    padding-left:2px; padding-right:2px; padding-bottom:2px;
}
.windowStatusBar {
    font-family:Verdana,sans-serif; font-size:11px; color:black;
    border-top: 1px solid #999999; border-left: 1px solid #999999;
    border-right: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF;
}
.modalMask {
    background-color:black;
}

/*============================================================
    5) Layout
============================================================*/

.layoutDropLine {
    background-color:#3366FF;

}
.layoutPlaceHolder {
    border:1px solid black;
}
.splitbar {
	
}
.splitbarDown {
    border:1px solid rgb(50,135,185);
}

.vSnapBar,
.vSnapBarOver {
}
.hSnapBar,
.hSnapBarOver {
}

/*============================================================
    6) TabSet and tab titles
============================================================*/

.tabSetContainer {
    font-family:Verdana,sans-serif; font-size:11px;
    color:#D9D9D9;
    border: 1px solid #C0C3C7;
    background-color:#FFFFFF
}

.tabBar {
}

.tabBaseline {
    border: 1px solid #C0C3C7;
}

.tab,
.tabOver,
.tabSelected,
.tabSelectedOver,
.tabDown,
.tabSelectedDown,
.tabSelectedDisabled,
.tabDisabled {
    font-family:Verdana,sans-serif; font-size:11px;
}

.tabTitle,
.tabTitleDown,
.tabTitleOver,
.tabTitleDisabled,
.tabTitleSelected,
.tabTitleSelectedDown,
.tabTitleSelectedOver,
.tabTitleSelectedDisabled,
.vtabTitle,
.vtabTitleSelected,
.vtabTitleOver,
.vtabTitleDown,
.vtabTitleSelectedOver,
.vtabTitleSelectedDown,
.vtabTitleDisabled,
.vtabTitleSelectedDisabled {
    color: #333333;
    font-family:Verdana,sans-serif; font-size:11px; 
}

.tabTitleSelected, 
.tabTitleSelectedOver,
.tabTitleSelectedDown,
.vtabTitleSelected,
.vtabTitleSelectedOver,
.vtabTitleSelectedDown {
	color:#4C4C4C;
    font-weight:bold;
}

.tabTitleDisabled,
.tabTitleSelectedDisabled,
.vtabTitleDisabled,
.vtabTitleSelectedDisabled {
    color: #AAAAAA;
}



/*============================================================
    7) SectionStack
============================================================*/

.sectionStack {
}

/* SectionStack headers - image based */
.imgSectionHeaderclosed,
.imgSectionHeaderopened,
.imgSectionHeaderDisabledclosed,
.imgSectionHeaderDisabledopened {
}
.imgSectionHeaderTitleclosed,
.imgSectionHeaderTitleopened,
.imgSectionHeaderTitleOverclosed,
.imgSectionHeaderTitleOveropened {
    font-family:Verdana,sans-serif; font-size:11px; font-weight:bold;
	color:#4C4C4C;
    border-left:5px;
}
/* 

*/
.sectionHeaderTitleopened, 
.sectionHeaderTitleclosed {
    font-family:Verdana,sans-serif; font-size:11px; color:white;
}
.sectionHeaderTitleDisabledopened, 
.sectionHeaderTitleDisabledclosed {
    font-family:Verdana,sans-serif; font-size:11px; color:#808080;
}
/* SectionStack headers - css based */
.sectionHeaderopened, 
.sectionHeaderclosed {
    font-family:Verdana,sans-serif; font-size:11px; color:#333333;
    padding:3px;
}

.sectionHeaderopened {
    background:#404040 url(./images/SectionHeader/header_opened_stretch.png) repeat-x scroll;
}
.sectionHeaderclosed {
    background:#404040 url(./images/SectionHeader/header_closed_stretch.png) repeat-x scroll;
}


.cellopened {
    background-color:red;
}
.cellclosed {
    background-color:pink;
}

/*============================================================
    8) Forms
============================================================*/

/* custom */

.formLayout {
  background-color: #E8E8E8;
}

/* general form styles */
.formRow {}
.formCell,
.formCellFocused,
.formCellDisabled {
    font-family:Arial,sans-serif; font-size:11px;
}
.formTitle,
.formTitleFocused,
.formTitleDisabled,
.formCellError,
.formTitleError,
.formHint,
.headerItem,
.headerItemDisabled,
.headerItemError,
.staticTextItem,
.staticTextItemDisabled,
.staticTextItemError,
.textItem,
.textItemFocused,
.textItemDisabled,
.textItemError,
.textItemHint,
.selectItemControl,
.selectItemControlError,
.selectItemControlFocused,
.selectItemText,
.selectItemTextError,
.selectItemTextDisabled,
.selectItemTextFocused,
.selectItemTextRequired,
.selectItemTextRequiredError,
.selectItemTextRequiredDisabled,
.selectItemTextRequiredFocused,
.pickListCell,
.pickListCellSelected,
.pickListCellDisabled,
.labelAnchor,
.labelAnchorDisabled,
.labelAnchorError,
.labelAnchorFocused {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 8pt;
  font-weight: normal;
  color: #303030;
/*  xborder-right: 1px #90A6BD solid; */
}
.formTitleDisabled {
	color:#AAAAAA;
}
.formCellError,
.formTitleError { 
    font-weight:bold; color:#204268; 
    background-color:#CFD9F2
}
.formHint {
    color:#204268; padding:3px;
}

/* headerItem */
.headerItem,
.headerItemDisabled,
.headerItemError {
    font-family:Arial,sans-serif; font-size:14px; font-weight:bold;
	color:#4C4C4C;
}	

/* text-based items common props */
.textItem,
.textItemFocused,
.textItemDisabled,
.textItemError,
.textItemHint,
.selectItemText,
.selectItemTextError,
.selectItemTextFocused,
.selectItemTextHint {
    height:17px;
    padding: 1px;
    padding-left: 4px;
    border:1px solid #888888; 
    background:#FFFFFF url(./images/controls/text_input.png) repeat-x scroll;
    color:#333333;
}

.selectItemTextRequired,
.selectItemTextRequiredError,
.selectItemTextRequiredFocused,
.selectItemTextRequiredHint {
    height:17px;
    padding: 1px;
    padding-left: 4px;
    border:1px solid #888888;
    background:#FFFADE url(./images/controls/text_input_Required.png) repeat-x scroll;
    color:#333333;
}

.textItemDisabled,
.selectItemTextDisabled,
.selectItemTextRequiredDisabled {
    height:17px;
    padding: 1px;
    padding-left: 4px;
    border:1px solid #888888;
    background:#E8E8E8;
    color:#606060;
    background-color: #E8E8E8;
}

.textItemHint,
.selectItemTextHint,
.selectItemTextRequiredHint {
    color:#204268;
}


/* selectItem */

.textItemFocused,
.selectItemTextFocused {
    background-repeat: repeat-x ;
    background-position: top left;
    background-image: url(./images/controls/text_input_Focused.png);
    background-color: #D9F0FB;
    padding: 0px;
    padding-left: 3px;
    outline: none;
    -moz-outline-style: none;
    border: 2px solid #4D98CA;
}
.selectItemTextRequiredFocused {
    background-repeat: repeat-x ;
    background-position: top left;
    background-image: url(./images/controls/text_input_Required_Focused.png);
    background-color: #EAEED0;
    padding: 0px;
    padding-left: 3px;
    outline: none;
    -moz-outline-style: none;
    border: 2px solid #4D98CA;
}

.selectItemText,
.selectItemTextError,
.selectItemTextFocused,
.selectItemTextDisabled,
.selectItemTextRequired,
.selectItemTextRequiredError,
.selectItemTextRequiredFocused,
.selectItemTextRequiredDisabled {
    border-right:0px none;
}

.selectItemPickerIcon,
.selectItemPickerIconFocused,
.selectItemPickerIconDisabled,
.selectItemPickerIconError {
    padding:0px;
}

.pickListMenuBody {
    border:1px solid #90A6BD; 
    background-color:#FFFFFF;
}

.pickListCell {
	color:#333333;
}
.pickListCellSelected {
    color:#333333;
    background:#FFFFFF url(./images/Menu/menu_rollover.png) repeat-x scroll;
}
.pickListCellDisabled {
	color:#595959;
	background-color:#C0C0C0;
}

/* checkbox and radioButton */
.labelAnchor,
.labelAnchorDisabled,
.labelAnchorError,
.labelAnchorFocused  { 
    font-family:Arial; color:333333; text-decoration:none;
}
.labelAnchorDisabled {
	font-family:Arial; color:#AAAAAA;
}

/* ColorChooser */
.colorChooserCell,
.colorChooserCellOver {
    background-color:#EFEFEF;
    border-left:1px solid #EFEFEF; border-top:1px solid #EFEFEF;
    border-right:1px solid #EFEFEF; border-bottom:1px solid #EFEFEF;
}
.colorChooserCellOver {
    border-left:1px solid black; border-top:1px solid black;
    border-right:1px solid black; border-bottom:1px solid black;
}

/* FilterBuilder */
.bracketBorders {
    border-left: 1px solid rgb(50,135,185);
    border-top: 1px solid rgb(50,135,185);
    border-bottom: 1px solid rgb(50,135,185);    
}
/*============================================================
     DateChooser
============================================================*/

/* Defaults for all days and controls */
.dateChooserButton,
.dateChooserButtonOver,
.dateChooserButtonDown,
.dateChooserButtonDisabled,
.dateChooserButtonSelected,
.dateChooserButtonSelectedDown,
.dateChooserButtonSelectedOver,
.dateChooserButtonSelectedDisabled,
.dateChooserWeekendButton,
.dateChooserWeekendButtonOver,
.dateChooserWeekendButtonDown,
.dateChooserWeekendButtonDisabled,
.dateChooserWeekendButtonSelected,
.dateChooserWeekendButtonSelectedDown,
.dateChooserWeekendButtonSelectedOver,
.dateChooserWeekendButtonSelectedDisabled,
.dateChooserBottomButton,
.dateChooserBottomButtonOver,
.dateChooserBottomButtonDown,
.dateChooserBottomButtonSelected,
.dateChooserBottomButtonSelectedOver,
.dateChooserBottomButtonSelectedDown,
.dateChooserNavButton,
.dateChooserNavButtonOver,
.dateChooserNavButtonDown,
.dateChooserNavButtonSelected,
.dateChooserNavButtonSelectedOver,
.dateChooserNavButtonSelectedDown,
.dateChooserWeekday,
.dateChooserWeekdayOver,
.dateChooserWeekdayDown,
.dateChooserWeekdaySelected,
.dateChooserWeekdaySelectedOver,
.dateChooserWeekdaySelectedDown,
.dateChooserWeekdayDisabled,
.dateChooserWeekend,
.dateChooserWeekendOver,
.dateChooserWeekendDown,
.dateChooserWeekendSelected,
.dateChooserWeekendSelectedOver,
.dateChooserWeekendSelectedDown,
.dateChooserWeekendDisabled {
    font-family:Verdana,sans-serif; font-size:11px; 
    background-color:transparent;
    color:#333333;
}

/* year/month buttons */
.dateChooserNavButton,
.dateChooserNavButtonOver,
.dateChooserNavButtonDown,
.dateChooserNavButtonSelected,
.dateChooserNavButtonSelectedOver,
.dateChooserNavButtonSelectedDown {
    padding:0px;
    border-top:0px none;
    border-bottom:0px none;
}

/* for all buttons, plus weekday headers (dateChooserButton) */
.dateChooserButton,
.dateChooserButtonOver,
.dateChooserButtonDown,
.dateChooserButtonSelected,
.dateChooserButtonSelectedOver,
.dateChooserButtonSelectedDown,
.dateChooserWeekendButton,
.dateChooserWeekendButtonOver,
.dateChooserWeekendButtonDown,
.dateChooserWeekendButtonSelected,
.dateChooserWeekendButtonSelectedOver,
.dateChooserWeekendButtonSelectedDown,
.dateChooserNavButton,
.dateChooserNavButtonOver,
.dateChooserNavButtonDown,
.dateChooserNavButtonSelected,
.dateChooserNavButtonSelectedOver,
.dateChooserNavButtonSelectedDown {
    font-weight:bold;
	color:#4C4C4C;
}

.dateChooserButtonOver,
.dateChooserButtonDown {
	cursor:pointer;
	color:#467DCD;
}

.dateChooserWeekendButton,
.dateChooserWeekendButtonOver,
.dateChooserWeekendButtonDown,
.dateChooserWeekendButtonSelected,
.dateChooserWeekendButtonSelectedOver,
.dateChooserWeekendButtonSelectedDown {
    background-color:#D6E8FF;
    border:2px solid #D6E8FF;
}


.dateChooserNavButton,
.dateChooserNavButtonOver,
.dateChooserNavButtonDown,
.dateChooserNavButtonSelected,
.dateChooserNavButtonSelectedOver,
.dateChooserNavButtonSelectedDown {
    cursor:pointer;
    padding:2px;
}

.dateChooserNavButtonOver,
.dateChooserNavButtonDown {
    color:#467DCD;
}

/* Today, Cancel buttons */
.dateChooserBottomButton,
.dateChooserBottomButtonOver,
.dateChooserBottomButtonDown {
    cursor:pointer;
    font-weight:bold;
	color:#4C4C4C;
    border-left:1px solid #ACB1B9;
    border-top:1px solid #ACB1B9;
}
.dateChooserBottomButtonOver {
    color:#467DCD;
}


/* weekday and weekend cells */

.dateChooserWeekday,
.dateChooserWeekdayOver,
.dateChooserWeekdayDown,
.dateChooserWeekdaySelected,
.dateChooserWeekdaySelectedOver,
.dateChooserWeekdaySelectedDown,
.dateChooserWeekdayDisabled,
.dateChooserWeekend,
.dateChooserWeekendOver,
.dateChooserWeekendDown,
.dateChooserWeekendSelected,
.dateChooserWeekendSelectedOver,
.dateChooserWeekendSelectedDown,
.dateChooserWeekendDisabled {
    cursor:pointer;
    color:#333333;
    border:2px solid white;
    background-color:white;
}

.dateChooserWeekdayDisabled,
.dateChooserWeekendDisabled {
	color:#C0C3CA;
}

.dateChooserWeekend,
.dateChooserWeekendOver,
.dateChooserWeekendSelected,
.dateChooserWeekendDisabled {
    border:2px solid #D6E8FF;
    background-color:#D6E8FF;
}

.dateChooserWeekdayOver,
.dateChooserWeekendOver {
	border:2px solid #71B5FE;
}

.dateChooserWeekdaySelected,
.dateChooserWeekdaySelectedOver,
.dateChooserWeekdayDown,
.dateChooserWeekdaySelectedDown,
.dateChooserWeekendSelected,
.dateChooserWeekendSelectedOver,
.dateChooserWeekendDown,
.dateChooserWeekendSelectedDown {
	font-weight:bold;
	color:#4C4C4C;
    border:2px solid #96C7FF;
    background-color:#D6E8FF;
}

.dateChooserWeekdayDown,
.dateChooserWeekendDown {
	font-weight:normal;
}

/* year and month pop-up menus */
.dateChooserYearMenu,
.dateChooserMonthMenu {
    border: 2px solid #4C4C4C;
    background-color:#FFFFFF;
}
						
/*============================================================
	9) Slider & Rangebar
============================================================*/

/* slider and rangebar labels */
.sliderTitle,
.sliderRange,
.sliderValue,
.rangebarTitle,
.rangebarRange,
.rangebarValue {
    color:#333333;
    font-family:Verdana,sans-serif; font-size:10px;
}
.sliderTitle,
.rangebarTitle {
	color:#4C4C4C;
    font-weight:bold;
}
.sliderRange,
.rangebarRange {
    color:#333333;
}



/*============================================================
	10) DetailViewer
============================================================*/

.detailBlock {
    border-left:1px solid #A7ABB4;
    border-top:1px solid #A7ABB4;
}

.detail,
.detailLabel,
.detailHeader {
    font-family:Verdana,sans-serif; font-size:11px; background-color:white;
    color:#333333;
    border-right:1px solid #A7ABB4;
    border-bottom:1px solid #A7ABB4;
}

.detailLabel {
    font-weight:bold;
	color:#4C4C4C;
	background-color:#F6F7F9;
    text-align:right;
}

.detailHeader {
    font-family:Arial,sans-serif; font-size:14px; font-weight:bold;
	color:#4C4C4C;
    background-color:#BBDAFA;
}



/*============================================================
	11) ListGrid
============================================================*/

/*============================================================
	ListGrid parts
		styleName - listGrid
		headerBarStyle - headerBar
		bodyStyleName - gridBody
============================================================*/

.listGrid {
    border: 1px solid #A7ABB4;
}
.headerBar {
    background:#FFFFFF url(./images/controls/text_input.png) repeat-x scroll;
}
.gridBody {
    background-color:#FFFFFF;
}
.alternateGridBody {
    background-color:#E8E8E8;
}
.loadingDataMessage,
.emptyMessage {
    font-family:Verdana,sans-serif; font-size:11px; padding:10px;
    color:#333333;
}
.gridDragTracker {
	font-family:Verdana,sans-serif; font-size:11px;
	color:#FFFFFF;
    background-color:rgb(65,160,210);
    padding:1px;
    border:1px dotted white;
}
.dragLine {
    background-color:#FADD0C
    
}

.listTable {
}
/* for filterEditor */
.recordEditorCell {
    font-family:Verdana,sans-serif; font-size:11px; color:black; background-color:#d0d0d0;
}



/*============================================================
	ListGrid headers
		listGrid.headerBaseStyle - headerButton (in skin)
		listGrid.headerDefaults.titleStyle - headerTitle (in skin)
		listGrid.sorterDefaults.titleStyle - headerTitle (in skin)

============================================================*/

/* ListGrid column header buttons */
.headerButton,
.headerButtonSelected,
.headerButtonDisabled,
.headerButtonSelectedDisabled,
.headerButtonOver,
.headerButtonDown,
.headerButtonSelectedOver,
.headerButtonSelectedDown {
    background-color:#FFFFFF;
    
    border-left:1px solid rgb(246,247,249);
    border-right:1px solid rgb(200,204,207);
}
.headerButtonOver,
.headerButtonDown,
.headerButtonSelectedOver,
.headerButtonSelectedDown {
    border-left:1px solid rgb(228,242,255);
    border-right:1px solid rgb(200,204,208);
}

.sorterButton,
.sorterButtonSelected,
.sorterButtonDisabled,
.sorterButtonSelectedDisabled,
.sorterButtonOver,
.sorterButtonDown,
.sorterButtonSelectedOver,
.sorterButtonSelectedDown {
    background-color:#FFFFFF;
    border-left:1px solid rgb(246,247,249);
}
.sorterButtonOver,
.sorterButtonDown,
.sorterButtonSelectedOver,
.sorterButtonSelectedDown {
    border-left:1px solid rgb(228,242,255);
}

/* ListGrid column header titles */
.headerTitle,
.headerTitleOver,
.headerTitleDown,
.headerTitleSelected,
.headerTitleSelectedOver,
.headerTitleSelectedDown,
.headerTitleDisabled,
.headerTitleSelectedDisabled {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #000000;
  font-weight: bold;
  padding: 0px 3px 0px 3px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 0px solid #000000;
  border-left : 1px solid #000000;
}
.headerTitleDown,
.headerTitleSelected,
.headerTitleSelectedOver,
.headerTitleSelectedDown,
.headerTitleSelectedDisabled {
    color:#333333;
}
.headerTitleDisabled,
.headerTitleSelectedDisabled {
    color: #AAAAAA;
}


/*============================================================
	ListGrid cells
		listGrid.baseStyle
============================================================*/

/*------------------------------------------------------------
		listGrid.baseStyle
------------------------------------------------------------*/
.cell,
.cellDark,
.cellOver,
.cellOverDark,
.cellSelected,
.cellSelectedDark,
.cellSelectedOver,
.cellSelectedOverDark,
.cellDisabled,
.cellDisabledDark,
.tallCell,
.tallCellDark,
.tallCellOver,
.tallCellOverDark,
.tallCellSelected,
.tallCellSelectedDark,
.tallCellSelectedOver,
.tallCellSelectedOverDark,
.tallCellDisabled,
.tallCellDisabledDark,
.groupNode {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #000000;
  font-weight: normal;
  text-overflow:ellipsis;
  padding: 0px 3px 0px 3px;

  border-top: 0px solid #808080;
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
  border-left : 0px solid #808080;
}
.tallCell,
.tallCellDark,
.tallCellOver,
.tallCellOverDark,
.tallCellSelected,
.tallCellSelectedDark,
.tallCellSelectedOver,
.tallCellSelectedOverDark,
.tallCellDisabled,
.tallCellDisabledDark {
 border-bottom:1px solid #E1E1E1;
}
.cell {
    background: #E1E1E1 url(./images/ListGrid/rowEven.png) repeat-x top left scroll;
}
.cellDark {
    background: #C0CFDC url(./images/ListGrid/rowOdd.png) repeat-x top left scroll;
}
.tallCellDark {
	background-color:#F6F7F9;
}
.cellOver,
.cellOverDark {
    background:#A3D77F url(./images/ListGrid/row_Over.png) repeat-x top left scroll;
}
.tallCellOver,
.tallCellOverDark {
	background-color:#E5F6FF; border-bottom:1px solid #C4DEFF;
}
.cellSelected,
.cellSelectedDark {
    background: #569633 url(./images/ListGrid/row_Selected.png) repeat-x top left scroll;
    color: #FFFFFF;
}
.tallCellSelected,
.tallCellSelectedDark {
	background-color:#D4E8FF; border-bottom:1px solid #C4DEFF;
}
.cellSelectedOver,
.cellSelectedOverDark {
    background: #569633 url(./images/ListGrid/row_Selected_Over.png) repeat-x top left scroll;
    color: #FFFFFF;
}
.tallCellSelectedOver,
.tallCellSelectedOverDark {
	background-color:#A2CBFF; border-bottom:1px solid #9BC8FF;
}
.cellDisabled,
.cellDisabledDark,
.tallCellDisabled,
.tallCellDisabledDark {
	color:#AAAAAA;
	background-color:#FFFFFF;
}

/* for grouping */
.groupNode {
    font-weight:bold;
	color:#4C4C4C;
    border-bottom: 1px solid #C0C0C0;
}

/* Field builders (Formula/Summary) */
.sampleOutput {
    border: 2px solid #D9D9D9;
    padding: 3px; 
}


/*============================================================
	12) ToolStrip
============================================================*/
.toolStrip {
    border: 1px solid #A7ABB4;
	background-color:#FFFFFF;
}

/*============================================================
	13) Tools
============================================================*/
.resizeThumb {
    background-color:#009999;
}

/*============================================================
   14) TileGrid
==============================================================*/

.tileGrid {
    border:1px solid #808080;
    
}

.tileValue,
.tileValueDown,
.tileValueSelected,
.tileValueOver,
.tileValueSelectedOver,
.tileValueSelectedDown {
    font-size: 8pt; 
    text-overflow:ellipsis;   
}

.tileValueOver {
    color:#333333; 
}

.tileValueSelected {
    color: #00B2FA;  
}

.tileValueSelectedOver {
    color: #333333;  
}

.simpleTile, 
.simpleTileOver,
.simpleTileSelected,
.simpleTileSelectedOver {
    font-size: 8pt;
    padding:3px    
}

.simpleTile {
    border:1px solid transparent;
    
}
.simpleTileOver {
     background-color:rgb(142,187,226);
      border:1px solid black;
}

.simpleTileSelected {
      border:1px solid #00B2FA;    
}

.simpleTileSelectedOver {
      background-color:rgb(142,187,226);
      border:1px solid #00B2FA;
}

/*============================================================
    Unused? Review & Remove
============================================================*/
.selectedText {
    background-color:darkblue; color:white;
}
.disabled {
    font-family:Verdana,sans-serif; font-size:11px; color:#CCCCCC;
}
.pageHeader {
    font-family:Verdana,sans-serif; font-size:12px; font-weight:bold; color:darkblue
}
.printPageHeader {
    font-family:Verdana,sans-serif; font-size:14px; font-weight:bold; color:darkblue
}
.printCell {
    font-family:Verdana,sans-serif; font-size:10px;
}

.cssdialogHeader {
    border-left: 1px solid #FFFF52; border-top: 1px solid #FFFF52;
    border-right: 1px solid #AD7B00; border-bottom: 1px solid #AD7B00;
    filter:"progid:dximagetransform.microsoft.gradient(gradientType=1, startColorStr=#FFCE00, endColorStr=#FFF790)";
}
.cssdialogHeaderHilite {
    border-left: 1px solid #FFFF52; border-top: 1px solid #FFFF52;
    border-right: 1px solid #AD7B00; border-bottom: 1px solid #AD7B00;
    filter:"progid:dximagetransform.microsoft.gradient(gradientType=1, startColorStr=#FFE67F, endColorStr=#FFFBC6)";
}
.dialogStatusBar {
    border-top: 1px solid #999999; border-left: 1px solid #999999;
    border-right: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF;
}
.dialogStatusBarText {
    font-family:Verdana,sans-serif; font-size:11px; color:black; font-weight:bold;
}






/*IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII

	Styles below this comment are not used by default in this skin

IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII*/



/*============================================================
    TabSet CSS tabs
		tabSet.simpleTabBaseStyle
============================================================*/
/* styles for simple css-styled tabs*/
/* left */
.tabButtonLeft {
    font-family:Verdana,sans-serif; font-size:11px; background-color:#CCCCCC;
    border-left:1px solid white; border-top:1px solid white; border-bottom:1px solid #808080;
}
.tabButtonLeftOver,
.tabButtonLeftSelected,
.tabButtonLeftSelectedOver {
    font-family:Verdana,sans-serif; font-size:11px; background-color:#D6D6D6; 
    border-left:1px solid white; border-top:1px solid white; border-bottom:1px solid #808080;
}
.tabButtonLeftDown,
.tabButtonLeftSelectedDown {
    font-family:Verdana,sans-serif; font-size:11px; background-color: #D6D6D6; 
    border-left:1px solid #808080; border-top:1px solid #808080; border-bottom:1px solid white;
}
.tabButtonLeftSelectedDisabled,
.tabButtonLeftDisabled {
    font-family:Verdana,sans-serif; font-size:11px; color:#666666;
    background-color:#CCCCCC; 
    border-left:1px solid #CCCCCC; border-top:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC;
}
/* right */                        
.tabButtonRight {
    font-family:Verdana,sans-serif; font-size:11px; background-color:#CCCCCC;
    border-top:1px solid white; border-bottom:1px solid #808080; border-right:1px solid #808080;
}
.tabButtonRightOver,
.tabButtonRightSelected,
.tabButtonRightSelectedOver {
    font-family:Verdana,sans-serif; font-size:11px; background-color:#D6D6D6; 
    border-top:1px solid white; border-bottom:1px solid #808080; border-right:1px solid #808080;
}
.tabButtonRightDown,
.tabButtonRightSelectedDown {
    font-family:Verdana,sans-serif; font-size:11px; background-color: #D6D6D6; 
    border-top:1px solid #808080; border-bottom:1px solid white; border-right:1px solid white;
}

.tabButtonRightSelectedDisabled,
.tabButtonRightDisabled {
    font-family:Verdana,sans-serif; font-size:11px; color:#666666;
    background-color:#CCCCCC; 
    border-top:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC; border-right:1px solid #CCCCCC;
}

/* top */                        
.tabButtonTop {
    font-family:Verdana,sans-serif; font-size:11px; background-color:#CCCCCC;
    border-left:1px solid white; border-top:1px solid white; border-right:1px solid #808080;
}
.tabButtonTopOver,
.tabButtonTopSelected,
.tabButtonTopSelectedOver {
    font-family:Verdana,sans-serif; font-size:11px; background-color:#D6D6D6; 
    border-left:1px solid white; border-top:1px solid white; border-right:1px solid #808080;
}
.tabButtonTopDown,
.tabButtonTopSelectedDown {
    font-family:Verdana,sans-serif; font-size:11px; background-color: #D6D6D6; 
    border-left:1px solid #808080; border-top:1px solid #808080; border-right:1px solid white;
}
.tabButtonTopSelectedDisabled,
.tabButtonTopDisabled {
    font-family:Verdana,sans-serif; font-size:11px; color:#666666; 
    background-color:#CCCCCC; 
    border-left:1px solid #CCCCCC; border-top:1px solid #CCCCCC; border-right:1px solid #CCCCCC;
}

/* bottom */                        
.tabButtonBottom {
    font-family:Verdana,sans-serif; font-size:11px; background-color:#CCCCCC;
    border-left:1px solid white; border-bottom:1px solid #808080; border-right:1px solid #808080;
}
.tabButtonBottomOver,
.tabButtonBottomSelected,
.tabButtonBottomSelectedOver {
    font-family:Verdana,sans-serif; font-size:11px; background-color:#D6D6D6; 
    border-left:1px solid white; border-bottom:1px solid #808080; border-right:1px solid #808080;
}
.tabButtonBottomDown,
.tabButtonBottomSelectedDown {
    font-family:Verdana,sans-serif; font-size:11px; background-color: #D6D6D6; 
    border-left:1px solid #808080; border-bottom:1px solid white; border-right:1px solid white;
}
.tabButtonBottomSelectedDisabled,
.tabButtonBottomDisabled {
    font-family:Verdana,sans-serif; font-size:11px; color:#666666;
    background-color:#CCCCCC; 
    border-left:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC; border-right:1px solid #CCCCCC;
}
						




/*IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII

	Styles below this comment are used by optional modules only

IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII*/



/*============================================================
	CubeGrid - Analytics Module only
		cubeGrid.baseStyle - cubeCell
		headerGrid.baseStyle - rowHeader
		reportHeaderBar.button.baseStyle - rowHeader
		reportHeaderBar.button.baseStyle - innerHeader/colHeader
		reportHeaderBar.button.baseStyle - rowHeaderLabel
		reportHeaderBar.button.baseStyle - colHeaderLabel
============================================================*/
.cubeGridBody {}
.cubeCell {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:black; text-overflow:ellipsis;
    background-color:#FFFFFF;
    border-top:1px solid white; border-bottom:1px solid #AAAAAA; 
    border-left:1px solid white; border-right:1px solid #AAAAAA;
}

.cubeCellDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:black; text-overflow:ellipsis;
    background-color:#EEEEEE;
    border-top:1px solid #EEEEEE; border-bottom:1px solid #AAAAAA; 
    border-left:1px solid #EEEEEE; border-right:1px solid #AAAAAA;
}

.cubeCellDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:#666666; text-overflow:ellipsis;
    background-color:#FFFFFF; 
    border-top:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF; 
    border-left:1px solid #FFFFFF; border-right:1px solid #FFFFFF;
}

/* partial styles */ 
.cubeCellOver {
    background-color:#B8D1EE;
    border-top:1px solid #B8D1EE; border-bottom:1px solid #AAAAAA; 
    border-left:1px solid #B8D1EE; border-right:1px solid #AAAAAA;
}

.cubeCellSelected {
    background-color:#FFE781;
    border-top:1px solid #FFE781; border-bottom:1px solid #AAAAAA; 
    border-left:1px solid #FFE781; border-right:1px solid #AAAAAA;
}

.cubeCellSelectedOver {
    background-color:#B8D1EE;
    border-top:1px solid #B8D1EE; border-bottom:1px solid #AAAAAA; 
    border-left:1px solid #B8D1EE; border-right:1px solid #AAAAAA;
}

/* row headers */
.rowHeader {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:white;
    background-color:#6682A0;
    border-left:1px solid #FFFFFF; border-top:1px solid #FFFFFF;
    border-right:1px solid #264260; border-bottom:1px solid #264260;
    background-image:url("images/CubeGrid/rowHeader.gif");
}
.rowHeaderOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:white;
    background-color:#6682A0;
    border-left:1px solid #264260; border-top:1px solid #264260;
    border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF;
    background-image:url("images/CubeGrid/rowHeaderOver.gif");
}
.rowHeaderDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:white;
    background-color:#6682A0;
    border-left:1px solid #264260; border-top:1px solid #264260;
    border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF;
    background-image:url("images/CubeGrid/rowHeaderOver.gif");
}
.rowHeaderDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:#808080;
    background-color:#6682A0;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}
.rowHeaderSelected,
.rowHeaderSelectedDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:white;
    background-color:#3E74B3;
    border-left:1px solid #00008B; border-top:1px solid #00008B;
    border-right:1px solid #F0F8FF; border-bottom:1px solid #F0F8FF;
    background-image:url("images/CubeGrid/rowHeaderSelected.gif");
    
}
.rowHeaderSelectedOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:white;
    background-color:#3E74B3;
    border-top:1px solid white; border-bottom:1px solid white; 
    border-left:1px solid white; border-right:1px solid white;
    background-image:url("images/CubeGrid/rowHeaderSelectedOver.gif");
}						
.rowHeaderSelectedDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:#808080;
    background-color:#3E74B3;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}

/* row label */
.rowHeaderLabel {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#204B7A;
    border-left:1px solid #FFFFFF; border-top:1px solid #FFFFFF;
    border-right:1px solid #000B3A; border-bottom:1px solid #000B3A;
    background-image:url("images/CubeGrid/rowHeaderLabel.gif");
}
.rowHeaderLabelOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#204B7A;
    border-left:1px solid #000B3A; border-top:1px solid #000B3A;
    border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF;
    background-image:url("images/CubeGrid/rowHeaderLabel.gif");
}
.rowHeaderLabelDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#204B7A;
    border-left:1px solid #000B3A; border-top:1px solid #000B3A;
    border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF;
    background-image:url("images/CubeGrid/rowHeaderLabelDown.gif");
}
.rowHeaderLabelDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:#808080;
    background-color:#7D7D7D;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}
.rowHeaderLabelSelected,
.rowHeaderLabelSelectedDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#3E74B3;
    border-left:1px solid black; border-top:1px solid black;
    border-right:1px solid #555555; border-bottom:1px solid #555555;
    background-image:url("images/CubeGrid/rowHeaderDown.gif");
}
.rowHeaderLabelSelectedOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#3E74B3;
    border-top:1px solid white; border-bottom:1px solid white; 
    border-left:1px solid white; border-right:1px solid white;
    background-image:url("images/CubeGrid/rowHeaderDown.gif");
}						
.rowHeaderLabelSelectedDisabled	{
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:#808080;
    background-color:#7D7D7D;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}
						
/* column headers */
.colHeader {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:white;
    background-color:#6682A0;
    border-left:1px solid #FFFFFF; border-top:1px solid #FFFFFF;
    border-right:1px solid #264260; border-bottom:1px solid #264260;
    background-image:url("images/CubeGrid/colHeader.gif");
}
.colHeaderOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:white;
    background-color:#6682A0;
    border-left:1px solid #264260; border-top:1px solid #264260;
    border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF;
    background-image:url("images/CubeGrid/colHeaderOver.gif");
}
.colHeaderDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:white;
    background-color:#6682A0;
    border-left:1px solid #264260; border-top:1px solid #264260;
    border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF;
    background-image:url("images/CubeGrid/colHeader.gif");
}
.colHeaderDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:#808080;
    background-color:#6682A0;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}
.colHeaderSelected,
.colHeaderSelectedDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#3E74B3;
    border-left:1px solid #00008B; border-top:1px solid #00008B;
    border-right:1px solid #F0F8FF; border-bottom:1px solid #F0F8FF;
    background-image:url("images/CubeGrid/colHeaderSelected.gif");
}
.colHeaderSelectedOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#3E74B3;
    border-top:1px solid white; border-bottom:1px solid white; 
    border-left:1px solid white; border-right:1px solid white;
    background-image:url("images/CubeGrid/colHeaderSelectedOver.gif");
}						
.colHeaderSelectedDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:#808080;
    background-color:#3E74B3;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}

/* column label */
.colHeaderLabel {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#204B7A;
    border-left:1px solid #FFFFFF; border-top:1px solid #FFFFFF;
    border-right:1px solid #555555; border-bottom:1px solid #555555;
    background-image:url("images/CubeGrid/colHeaderLabel.gif");
}
.colHeaderLabelOver,
.colHeaderLabelDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#204B7A;
    border-left:1px solid #000B3A; border-top:1px solid #000B3A;
    border-right:1px solid #555555; border-bottom:1px solid #555555;
    background-image:url("images/CubeGrid/colHeaderLabelDown.gif");
}
.colHeaderLabelDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:#808080;
    background-color:#7D7D7D;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}
.colHeaderLabelSelected,
.colHeaderLabelSelectedDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#3E74B3;
    border-left:1px solid black; border-top:1px solid black;
    border-right:1px solid #555555; border-bottom:1px solid #555555;
    background-image:url("images/CubeGrid/colHeaderLabelDown.gif");
}
.colHeaderLabelSelectedOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#3E74B3;
    border-top:1px solid white; border-bottom:1px solid white; 
    border-right:1px solid #555555; border-bottom:1px solid #555555;
    background-image:url("images/CubeGrid/colHeaderDown.gif");
}						
.colHeaderLabelSelectedDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:#808080;
    background-color:#7D7D7D;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}

/* inner header */
.innerHeader {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:black;
    background-color:#CCCCCC;
    border-left:1px solid white; border-top:1px solid white;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
    background-image:url("images/CubeGrid/innerHeader.gif");
}
.innerHeaderOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:black;
    background-color:#CCCCCC;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid white; border-bottom:1px solid white;
    background-image:url("images/CubeGrid/innerHeader.gif");
}
.innerHeaderDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:black;
    background-color:#CCCCCC;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid white; border-bottom:1px solid white;
    background-image:url("images/CubeGrid/innerHeader.gif");
}
.innerHeaderDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:#808080;
    background-color:#CCCCCC;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}
.innerHeaderSelected,
.innerHeaderSelectedDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#3E74B3;
    border-left:1px solid #00008B; border-top:1px solid #00008B;
    border-right:1px solid #F0F8FF; border-bottom:1px solid #F0F8FF;
    background-image:url("images/CubeGrid/innerHeaderSelected.gif");
}
.innerHeaderSelectedOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#3E74B3;
    border-top:1px solid white; border-bottom:1px solid white; 
    border-left:1px solid white; border-right:1px solid white;
    background-image:url("images/CubeGrid/innerHeaderSelectedOver.gif");
}						
.innerHeaderSelectedDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:#808080;
    background-color:#CCCCCC;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}



/*============================================================
	BarChart
	internal, charting/visualization module only
		styleName - chart
		barStyle - chartBar
		others are currently fixed
============================================================*/

.chart { 
    background-color:#CCCCCC;
}
.chartTitle {
    color:black;
    font-family: Verdana,sans-serif;;
    font-size:14px;
    font-weight: bold;
    text-align:center
}
.chartAxisTitle {
    color:green;
    font-family: Verdana,sans-serif;;
    font-weight: bold;
    font-size:12px;
}
.chartValueTitle {
    color:black;
    font-family: Verdana,sans-serif;;
    font-size:10px;
}
.chartTotal {
    color:black;
    font-family:Verdana,sans-serif;; 
    font-size:12px;
    background-color:linen;
}
.chartBody {
    border-left:1px solid black;
    border-top:1px dashed blue;
    border-right:1px solid black;
    background-color:#DDDDDD
}   
.chartBar1 {
    background-color:red;
    filter:"progid:dximagetransform.microsoft.gradient(gradientType=1, startColorStr=#990000, endColorStr=#FF0000)";
}
.chartBar2 {
    background-color:blue;
    filter:"progid:dximagetransform.microsoft.gradient(gradientType=1, startColorStr=#000099, endColorStr=#0000FF)";
}
.chartBar3 {
    background-color:green;
    filter:"progid:dximagetransform.microsoft.gradient(gradientType=1, startColorStr=#009900, endColorStr=#00FF00)";
}


/*============================================================
	Printing
        printHeader - general print style for header elements including:
        - ListGrid header cells
        - SectionStack headers
============================================================*/
.printHeader {
    font-family:Verdana,sans-serif; font-size:11px;    
    border:1px solid black;
    font-weight:bold;
}

/*============================================================
	Calendar
    
============================================================*/
.calendar,
.calendarDisabled,
.calendarWorkday,
.calendarDark {
    font-family:Verdana,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#ffffff;
}

.calendarDisabled {
    background-color:#F6F7F9;    
}

.calendarWorkday {
    background-color:#ffffcc; 
}

.calendarOver,
.calendarOverDark {
    font-family:Verdana,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#c0ffc0;
}
.calendarCellSelected {
    font-family:Verdana,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#CCCCCC; 
}
.labelColumn {
    font-family:Verdana,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#F6F7F9;
}
/* ----month---- */
/* calMonthDayHeader and Body */

.calMonthDayHeader,
.calMonthDayHeaderDark {
    font-family:Verdana,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#F6F7F9;
}

.calMonthDayHeaderOver,
.calMonthDayHeaderOverDark {
    font-family:Verdana,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color: #c0ffc0;
}
.calMonthDayBody,
.calMonthDayBodyDark {
    font-family:Verdana,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#ffffff;
}
.calMonthDayBodyOver,
.calMonthDayBodyOverDark {
    font-family:Verdana,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#c0ffc0;
}

.calMonthDayBodyDisabled,
.calMonthDayBodyDisabledOver {
    font-family:Verdana,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#F6F7F9;
}
/* calMonthOtherDayHeader and Body */

.calMonthOtherDayHeader,
.calMonthOtherDayHeaderDark {
    font-family:Verdana,sans-serif; font-size:11px;
    color:#444444;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color: #aaaaaa;
}
.calMonthOtherDayHeaderOver,
.calMonthOtherDayHeaderOverDark {
    font-family:Verdana,sans-serif; font-size:11px;
    color:#444444;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color: #c0ffc0;
}
.calMonthOtherDayBody,
.calMonthOtherDayBodyDark, 
.calMonthOtherDayBodyDisabled, 
.calMonthOtherDayBodyDisabledOver{
    font-family:Verdana,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#F6F7F9;
}
.calMonthOtherDayBodyOver,
.calMonthOtherDayBodyOverDark {
    font-family:Verdana,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#c0ffc0;
}
/* calMonthOtherDayBlank */

.calMonthOtherDayBlank,
.calMonthOtherDayBlankDark, 
.calMonthOtherDayBlankOver,
.calMonthOtherDayBlankOverDark {
    font-family:Verdana,sans-serif; font-size:11px;
    color:#444444;
    background-color: #F6F7F9;
}

/* calMonthEventLink */

a.calMonthEventLink:link {color:blue; text-decoration:none}
a.calMonthEventLink:visited {color:blue; text-decoration:none}
a.calMonthEventLink:hover {color:blue; text-decoration:underline}
a.calMonthEventLink:active {color:blue; text-decoration:none}

/* ----event window---- */

.eventWindow {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size: 9px;
    background-color:#EBF4FF;
    border: 1px solid #A2CBFF;
}

.eventWindowHeader {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size: 9px;
    color:#4C4C4C;
    background-color:#A2CBFF;
}

.eventWindowBody {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size: 9px;
    color:#333333;
    background-color:#EBF4FF;
    padding: 3px;
}

.eventWindowResizer {
    border-top:1px solid white;
    border-bottom: 1px solid white;
}

/*============================================================
	PropertySheet
	internal, used by Visual SmartClient tools
        propertySheet.autoChildDefaults.cellStyle - propSheetValue
        propertySheet.autoChildDefaults.titleStyle - propSheetTitle
        propertySheet.TextItemDefaults.textBoxStyle - propSheetField
        propertySheet.SelectItemDefaults.controlStyle - propSheetSelectControl
        propertySheet.ColorItemDefaults.textBoxStyle - propSheetField
        propertySheet.HeaderItemDefaults.textBoxStyle - propSheetHeading
        propertySheet.SectionHeaderItemDefaults.cellStyle - propSheetSectionItemCell
============================================================*/

.propSheetValue,
.propSheetValueFocused,
.propSheetDisabled {
    font-family:Verdana,sans-serif;
    font-size:11px;
    border-bottom:1px solid #AAAAAA;
    border-right:1px solid #AAAAAA;
    padding:0px;
    margin:0px;
}
.propSheetTitle,
.propSheetTitleFocused,
.propSheetTitleDisabled {
    font-family:Verdana,sans-serif;
    font-size:11px;
    border-bottom:1px solid #AAAAAA;
    border-right:1px solid #AAAAAA;
    background-color:#DDDDDD;
    padding-left:4px;
    padding-right:4px;
}
.propSheetTitleError,
.propSheetValueError {
    font-family:Verdana,sans-serif; 
    font-size:11px; color:#204268; 
    background-color:#CFD9F2
}
.propSheetField,
.propSheetFieldDisabled {
    font-family:Verdana,sans-serif;
    font-size:11px;
    background-color:#FFFFFF;
    border:0px;
    padding:0px;
    padding-left:4px;
    padding-right:4px;
    margin-top:3px;
}
.propSheetHeading,
.propSheetHeadingDisabled {
    font-family:Verdana,sans-serif;
    font-size:11px;
    font-weight:bold;
    color:black;
    background-color:#CCCCCC;
    padding:4px;
    border-bottom:1px solid #AAAAAA;
}
.propSheetSelectControl,
.propSheetSelectControlFocused,
.propSheetSelectControlDisabled {
    padding-left:3px;
    padding-right:3px;
}

.propSheetSectionItemCell,
.propSheetSectionItemDisabled {
}
